<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.crm.organization.ObjectRepository.verifyOrganizationTest"/>
      <class name="com.crm.contact.objectRepositoryLib.verifyContactTest"/>
      <class name="com.crm.product.ObjectRepository.verifyProductTest"/>
      <class name=" com.crm.quote.ObjectRepository.verifyQuotetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
